<!DOCTYPE html>
<html>
{{>header}}
    <title>Bienvenido!!!</title>
    {{>navbar}}
    <body>
        <h1>Te damos la Bienvenida, {{nombre}}</h1>
        <h2>Esto es lo que tenemos para ofrecerte hoy</h2>
        <div><label for="categoria">Categoría:</label>
            <select name="categoria" id="categoria" onchange="cambiarCategoria(value)">
                <option value="todas">Todas</option>
                <option value="diaria">Ropa de uso diario</option>
                <option value="abrigo">Ropa de abrigo</option>
            </select>
        </div>
        <div id="listadoProductos" ></div>
        <script id="plantillaProductos" type="text/x-handlebars-template">
            <div>
                <ul>{{#each inventario}}
                    <li><h2>{{this.nombre}}</h2></li>
                    <li><p>{{this.descripcion}}</p></li>
                    <li><p>Código: {{this._id}}</p></li>
                    <li><img src={{this.foto}} /></li>
                    <li> <p>Precio: ARS{{this.precio}}</p></li>

                    <button onclick=addToCart("{{this._id}}")>Agregar al carrito</button>
                {{/each}}</ul>
            </div>
        </script>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="/static/scripts.js"></script>
    <script src="/static/index.js"></script>
</html>