<!DOCTYPE html>
<html>
    {{>header}}
        <body>
            <div class="container">
            </div>
            <h1>Recursos del sistema</h1>

            <p><b>Argumentos de entrada: </b> {{{argv}}}</p>
            <p><b>Path de ejecución:</b> {{{execPath}}}</p>
            <p><b>Sistema operativo: </b>{{{versionSO}}}</p>
            <p><b>Id del proceso: </b>{{{pid}}}</p>
            <p><b>Versión de Node.js utilizada:</b> {{{nodeVersion}}}</p>
            <p><b>Ubicación del proyecto: </b>{{{cwd}}}</p>
            <p><b>Memoria total reservada: </b>{{{rss}}}</p>
            <p><b>Número de procesadores: </b>{{{cpus}}}</p>
        </body>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js" ></script>
    <script src="static/scripts.js"></script>
</html>